:root {
    --main-bg-color: #000000;
    --secondary-bg-color: #070707;
    --accent-color: #E526CB;
    --text-color: #ffffff;
    --online-color: #00ff00;
    --unknown-color: #ffff00;
    --offline-color: #ff0000;
}

body {
    overflow-y: auto;
}

.linkey-online {
    color: var(--online-color) !important;
    text-shadow: 0 0 5px var(--online-color), 0 0 15px var(--accent-color);
}

.linkey-unknown {
    color: var(--unknown-color) !important;
    text-shadow: 0 0 5px var(--unknown-color), 0 0 15px var(--accent-color);
}

.linkey-offline {
    color: var(--offline-color) !important;
    text-shadow: 0 0 5px var(--offline-color), 0 0 15px var(--accent-color);
}

td a {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

td a > span {
    display: none;
}

.page-button-hidden {
    visibility: hidden;
}

.help-icon {
    font-size: 1.15em;
    color: var(--accent-color);
    text-decoration: none;
    margin-left: 1px;
    text-shadow: 0 0 8px var(--accent-color);
    transition: all 0.3s ease;
}

.help-icon:hover {
    color: var(--secondary-accent-color);
    text-shadow: 0 0 12px var(--secondary-accent-color);
    transform: translateY(-2px);
}

.exclude-info {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    opacity: 0.8;
}